@import"../colores";

#post{
    display: flex;
    flex-direction: row;
    background-color: $textcolor2;
}

#Post_part1 h1{
    display: flex;
    justify-content: center;
}

#Post_part1 p{
    text-align: justify;
    margin: 15px;
}

#Post_part2 image{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
